

/* Estilos para tabletas (pantallas de hasta 1024px) */
@media (max-width: 1024px) {
    .about-container {
      padding: 4rem 2rem;
      text-align: center;
    }
  
    .about-title {
      font-size: 2rem;
    }
  
    .about-content {
      padding: 2rem;
    }
  }
  
  /* Estilos para celulares (pantallas de hasta 640px) */
  @media (max-width: 640px) {
    .about-container {
      padding: 3rem 1rem;
    }
  
    .about-title {
      font-size: 1.75rem;
    }
  
    .about-content {
      padding: 1.5rem;
      font-size: 1rem;
    }
  }
  