.header {
  background: rgba(255, 255, 255, 0);
  padding: 10px 30px; /* Reducimos el padding superior e inferior */
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  height: 80px; /* Ajustamos la altura del navbar */
  display: flex;
  align-items: center;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%!important;
  margin: 0 auto;
}

.logo img {
  height: 120px!important; /* Agrandamos el logo */
  width: auto; /* Mantenemos la proporción */
  display: block; /* Evita que el logo afecte la alineación */
}

.nav {
  display: flex;
  align-items: center;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-list li a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 600;
  font-size: 16px;
  transition: color 0.3s;
}

.nav-list li a:hover {
  color: #c9a56d;
}

.cta-button {
  background: #c9a56d;
  color: white;
  padding: 8px 16px; /* Ajustamos padding para reducir el tamaño */
  border-radius: 20px;
  text-decoration: none;
  font-weight: 700;
  transition: background 0.3s;
}

.cta-button:hover {
  background: #a88b5f;
}

/* Cuando el header tiene scroll (hasBackground = true) */
@media (min-width: 769px) {
  .header.scrolled {
    color: black !important;
    background: #1C1F2A;
  }

  .header.scrolled a:not(.cta-button) {
    color: rgb(255, 255, 255) !important;
  }
  
}

.mobile-menu-button {
  display: none;
  flex-direction: column;
  gap: 5px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1000;
}

.mobile-menu-button .bar {
  width: 25px;
  height: 3px;
  background: white;
  transition: 0.3s;
}

.mobile-menu-button .bar.open {
  background: gold;
}

.nav {
  display: flex;
  gap: 20px;
}

@media (max-width: 768px) {

  .header{
  
    justify-content: center!important;
  }

  .header.scrolled {
    background: #1C1F2A;
  }

  .header.scrolled .mobile-menu-button .bar {
    background: rgb(255, 255, 255) !important; 
  }

  .mobile-menu-button {
    display: flex;
  }

  .nav {
    position: absolute;
    top: 60px;
    right: 0;
    width: 200px;
    background: rgb(34, 46, 73);
    display: none;
    flex-direction: column;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgb(0, 0, 0);
  }

  .nav.open {
    display: flex;
  }

  .cta-button {
    font-size: 10px!important;
  }

  .logo img {
    height: 60px!important; /* Agrandamos el logo */
    width: auto; /* Mantenemos la proporción */
    display: block; /* Evita que el logo afecte la alineación */
  }
}


